
# PlanAhead Generated IO constraints 

NET "A[3]" IOSTANDARD = LVCMOS33;
NET "A[2]" IOSTANDARD = LVCMOS33;
NET "A[1]" IOSTANDARD = LVCMOS33;
NET "A[0]" IOSTANDARD = LVCMOS33;
NET "B[3]" IOSTANDARD = LVCMOS33;
NET "B[2]" IOSTANDARD = LVCMOS33;
NET "B[1]" IOSTANDARD = LVCMOS33;
NET "B[0]" IOSTANDARD = LVCMOS33;
NET "E" IOSTANDARD = LVCMOS33;
NET "G" IOSTANDARD = LVCMOS33;
NET "L" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "A[3]" LOC = P4;
NET "A[2]" LOC = P3;
NET "A[1]" LOC = R3;
NET "A[0]" LOC = T1;
NET "B[3]" LOC = R6;
NET "B[2]" LOC = R7;
NET "B[0]" LOC = U9;
NET "L" LOC = T8;
NET "G" LOC = P2;
NET "E" LOC = V4;
NET "B[1]" LOC = U8;
